<div class="container superior">
    <div class="row justify-content-center">
        <div class="col-5 pt-4">
            <b class="fs-1">
                Estrategias
            </b>
            <br><br>
            <div class="fs-5">
                Las estrategias propuestas buscan impulsar el crecimiento sostenible y la innovación tecnológica de la empresa de desarrollo de domótica para hogares. Desde el aumento de la cuota de mercado en Bogotá y la expansión a otras ciudades principales de Colombia, hasta el desarrollo de soluciones basadas en inteligencia artificial y la mejora de la eficiencia operativa y comercial. Se enfatiza en la formación del equipo, la promoción activa en el mercado local y el uso de herramientas digitales para alcanzar los objetivos tácticos y operacionales, estableciendo así una base sólida para el éxito a largo plazo.
            </div>
        </div>
        <div class="col-3">
            <img src="../../assets/img/Scrum board-pana.png" alt="" class="img-1">
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row">
        <div class="col-4">
            <div class="fs-3">
                <b>

                    Tabla de estrategias
                </b>
            </div>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12">

            <table class="table table-dark table-striped">
                <thead class="thead-dark">
                    <tr>
                      <th scope="col">Objetivo Estratégico</th>
                      <th scope="col">Estrategias</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>I. Rentabilidad y Crecimiento Sostenible</td>
                      <td>
                        <ul>
                          <li>Implementar un sistema de gestión de costos para identificar áreas de mejora y reducir gastos innecesarios.</li>
                          <li>Desarrollar planes de expansión de productos y servicios para aumentar la cuota de mercado.</li>
                          <li>Establecer alianzas estratégicas con empresas afines para maximizar la rentabilidad.</li>
                        </ul>
                      </td>
                    </tr>
                    <tr>
                      <td>II. Innovación Tecnológica</td>
                      <td>
                        <ul>
                          <li>Establecer un departamento de I+D dedicado a la exploración y desarrollo de nuevas tecnologías.</li>
                          <li>Participar en conferencias y eventos de la industria para mantenerse al tanto de las últimas tendencias en domótica.</li>
                        </ul>
                      </td>
                    </tr>
                    <tr>
                      <td>III. Expansión del Mercado</td>
                      <td>
                        <ul>
                          <li>Realizar estudios de mercado para identificar las ciudades principales con mayor potencial de adopción de domótica.</li>
                          <li>Establecer sucursales o puntos de venta en áreas estratégicas de las ciudades identificadas.</li>
                        </ul>
                      </td>
                    </tr>
                    <tr>
                      <td>IV. Desarrollo de Productos</td>
                      <td>
                        <ul>
                          <li>Incorporar retroalimentación de los clientes en el proceso de desarrollo para asegurar la satisfacción del usuario final.</li>
                          <li>Realizar pruebas piloto en hogares para evaluar la usabilidad y funcionalidad de los productos.</li>
                        </ul>
                      </td>
                    </tr>
                    <tr>
                      <td>V. Operaciones</td>
                      <td>
                        <ul>
                          <li>Implementar un sistema de gestión de inventario para optimizar los niveles de stock y reducir costos de almacenamiento.</li>
                          <li>Establecer procedimientos de control de calidad en todas las etapas de la producción.</li>
                        </ul>
                      </td>
                    </tr>
                    <tr>
                      <td>VI. Marketing y Ventas</td>
                      <td>
                        <ul>
                          <li>Desarrollar una estrategia de inbound marketing para atraer a clientes interesados en soluciones de domótica.</li>
                          <li>Ofrecer demostraciones gratuitas de productos para mostrar su valor y funcionalidad.</li>
                        </ul>
                      </td>
                    </tr>
                    <tr>
                      <td>VII. Recursos Humanos</td>
                      <td>
                        <ul>
                          <li>Implementar programas de reconocimiento y recompensa para fomentar la creatividad y el compromiso de los empleados.</li>
                          <li>Ofrecer programas de capacitación en nuevas tecnologías y desarrollo profesional.</li>
                        </ul>
                      </td>
                    </tr>
                    <tr>
                      <td>VIII. Administración y Finanzas</td>
                      <td>
                        <ul>
                          <li>Automatizar procesos de facturación y cobranza para mejorar la eficiencia y reducir errores.</li>
                          <li>Contratar un equipo financiero experto para asesorar en la gestión de inversiones y optimización de recursos.</li>
                        </ul>
                      </td>
                    </tr>
                    <tr>
                      <td>IX. Investigación de Mercado</td>
                      <td>
                        <ul>
                          <li>Realizar encuestas y entrevistas a clientes potenciales para comprender mejor sus necesidades y preferencias.</li>
                          <li>Analizar tendencias globales en domótica para identificar oportunidades de mercado emergentes.</li>
                        </ul>
                      </td>
                    </tr>
                    <tr>
                      <td>X. Servicio al Cliente y Soporte Técnico</td>
                      <td>
                        <ul>
                          <li>Establecer un sistema de tickets o seguimiento de incidencias para gestionar de manera eficiente las solicitudes de los clientes.</li>
                          <li>Ofrecer servicio de atención al cliente 24/7 para garantizar la satisfacción del cliente en todo momento.</li>
                        </ul>
                      </td>
                    </tr>
                    <tr>
                      <td>I. Especialista de Domótica</td>
                      <td>
                        <ul>
                          <li>Proporcionar formación continua sobre nuevas tecnologías y procedimientos de instalación y configuración.</li>
                          <li>Establecer un sistema de retroalimentación para mejorar constantemente los procesos de calidad y mantenimiento.</li>
                        </ul>
                      </td>
                    </tr>
                    <tr>
                      <td>II. Ejecutivos de Ventas</td>
                      <td>
                        <ul>
                          <li>Realizar seguimiento periódico de clientes potenciales para identificar oportunidades de venta.</li>
                          <li>Proporcionar capacitación en técnicas de negociación y comunicación para mejorar las habilidades de cierre de ventas del equipo.</li>
                        </ul>
                      </td>
                    </tr>
                  </tbody>
            </table>
        </div>
    </div>
</div>