<div class="container superior">
    <div class="row justify-content-center">
        <div class="col-5 pt-4">
            <b class="fs-1">
                Estrategias
            </b>
            <br><br>
            <div class="fs-5">
                Las estrategias propuestas buscan impulsar el crecimiento sostenible y la innovación tecnológica de la empresa de desarrollo de domótica para hogares. Desde el aumento de la cuota de mercado en Bogotá y la expansión a otras ciudades principales de Colombia, hasta el desarrollo de soluciones basadas en inteligencia artificial y la mejora de la eficiencia operativa y comercial. Se enfatiza en la formación del equipo, la promoción activa en el mercado local y el uso de herramientas digitales para alcanzar los objetivos tácticos y operacionales, estableciendo así una base sólida para el éxito a largo plazo.
            </div>
        </div>
        <div class="col-3">
            <img src="../../assets/img/Scrum board-pana.png" alt="" class="img-1">
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row">
        <div class="col-4">
            <div class="fs-3">
                <b>

                    Tabla de estrategias
                </b>
            </div>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12">

            <table class="table table-dark table-striped">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Objetivo Estratégico</th>
                    <th scope="col">Estrategias</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Crecimiento Sostenible</td>
                    <td>- Desarrollar campañas de marketing específicas para Bogotá, destacando las ventajas de nuestras soluciones de domótica.<br>- Establecer alianzas estratégicas con empresas locales para aumentar la visibilidad y acceso al mercado en Bogotá.<br>- Realizar estudios de mercado en otras ciudades principales de Colombia para identificar oportunidades de expansión.<br>- Participar en ferias y eventos del sector en diferentes ciudades para dar a conocer nuestros productos y servicios.</td>
                  </tr>
                  <tr>
                    <td>Innovación Tecnológica	</td>
                    <td>- Establecer un equipo de investigación y desarrollo dedicado a la creación de soluciones de domótica basadas en inteligencia artificial.<br>- Colaborar con universidades y centros de investigación para mantenernos al tanto de las últimas tendencias en automatización residencial.<br>- Organizar workshops y conferencias sobre domótica y tecnologías emergentes para compartir conocimientos y fomentar la innovación dentro de la empresa.<br>- Invertir en programas de formación continua para el equipo técnico en áreas relacionadas con inteligencia artificial y automatización residencial.</td>
                  </tr>
                  <tr>
                    <td>Operaciones</td>
                    <td>- Implementar procedimientos estandarizados y herramientas de software para agilizar el proceso de instalación de sistemas de domótica.<br>- Establecer un sistema de seguimiento de incidencias posventa para mejorar la respuesta y resolución de problemas de manera eficiente.<br>- Ofrecer servicios de atención al cliente personalizados, como visitas periódicas de mantenimiento preventivo, para mejorar la satisfacción del cliente.</td>
                  </tr>
                  <tr>
                    <td>Comercial y Marketing</td>
                    <td>- Diseñar una estrategia de marketing digital que incluya publicidad en redes sociales, SEO y marketing de contenidos para aumentar la visibilidad en línea y generar leads cualificados.<br>- Desarrollar programas de fidelización de clientes y referidos para incentivar la recompra y el boca a boca positivo.<br>- Realizar eventos de lanzamiento de productos y demostraciones en puntos de venta estratégicos para promover la adopción de soluciones de domótica.<br>- Colaborar con influencers y líderes de opinión en el sector para amplificar el alcance de nuestras campañas de marketing.</td>
                  </tr>
                  <tr>
                    <td>Recursos Humanos</td>
                    <td>- Diseñar un plan de formación técnica continua que incluya cursos presenciales y en línea, así como certificaciones en tecnologías relevantes para la domótica.<br>- Fomentar la comunicación abierta y el trabajo en equipo mediante reuniones periódicas, actividades de team building y herramientas de colaboración en línea.<br>- Reconocer y premiar el desempeño excepcional del equipo técnico mediante programas de incentivos y reconocimientos.</td>
                  </tr>
                  <tr>
                    <td>Finanzas y Administración</td>
                    <td>- Implementar un sistema de facturación electrónica y cobranza automatizada para agilizar los procesos y reducir los tiempos de pago.<br>- Realizar análisis periódicos de los costos operativos y buscar oportunidades de optimización, como la negociación de mejores tarifas con proveedores o la implementación de medidas de eficiencia energética.<br>- Establecer metas financieras claras y realizar un seguimiento regular de los indicadores clave de rendimiento para garantizar la salud financiera de la empresa.</td>
                  </tr>
                  <tr>
                    <td>Técnicos de Domótica</td>
                    <td>- Implementar un programa de capacitación técnica que incluya cursos de formación en instalación, configuración y mantenimiento de sistemas de domótica.<br>- Proporcionar herramientas y equipos de última generación para garantizar la eficiencia y calidad en el trabajo de instalación y mantenimiento.<br>- Establecer un sistema de seguimiento de incidencias para registrar y resolver de manera oportuna cualquier problema técnico reportado por los clientes.</td>
                  </tr>
                  <tr>
                    <td>Ejecutivos de Ventas</td>
                    <td>- Proporcionar capacitación en técnicas de venta consultiva y presentación de soluciones personalizadas de domótica para satisfacer las necesidades específicas de cada cliente.<br>- Establecer objetivos de ventas claros y proporcionar incentivos basados en el rendimiento para motivar al equipo de ventas a alcanzar y superar sus metas.<br>- Implementar un sistema de seguimiento de clientes potenciales y oportunidades de venta para garantizar un seguimiento proactivo y oportuno.</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>