
  <div class="banner">
    <h1>Bienvenido a DomotekCo</h1>
  </div>

  <div class="section">
    <h2>Nuestros Servicios</h2>
    <p>En DomotekCo, ofrecemos soluciones innovadoras en domótica para hacer tu hogar más inteligente y eficiente.</p>
    <!-- <img src="../../assets/img/inicio/img2.jpg" alt="Servicios de DomotekCo"> -->
    <div class="buttons">
      <button class="btn" (click)="cambiarPagina('diagnostico', '')">Diagnóstico</button>
      <button class="btn" (click)="cambiarPagina('organizacion', '')">Organización</button>
      <button class="btn" (click)="cambiarPagina('estrategias', '')">Estrategias</button>
      <button class="btn" (click)="cambiarPagina('nosotros', '')">Nosotros</button>
    </div>
  </div>

  <div class="section">
    <h2>¿Quiénes Somos?</h2>
    <p>DomotekCo está compuesto por un equipo de expertos en tecnología y diseño, dedicados a crear espacios inteligentes y funcionales.</p>
    <!-- <img src="img_3.jpg" alt="Equipo de DomotekCo"> -->
    <div class="buttons">
      <button class="btn" (click)="cambiarPagina('equipo', '')">Nuestro Equipo</button>
    </div>
  </div>

  <div class="section">
    <h2>Organización</h2>
    <p>Conoce más sobre nuestra estructura organizativa y los procesos que utilizamos para asegurar la calidad y eficiencia en nuestros proyectos.</p>
    <!-- <img src="img_4.jpg" alt="Organización de DomotekCo"> -->
    <div class="buttons">
      <button class="btn" (click)="cambiarPagina('macroprocesos', '')">Macroprocesos</button>
    </div>
  </div>

  <div class="section">
    <h2>Balanced Scorecard</h2>
    <p>Nuestros indicadores permiten una garantia en nuestros productos.</p>
    <!-- <img src="img_5.jpg" alt="Aspectos Legales"> -->
    <div class="buttons">
      <button class="btn" (click)="cambiarPagina('bsc', '')">Balanced Scorecard</button>
    </div>
  </div>
  <div class="section">
    <h2>Aspectos Legales</h2>
    <p>Nos comprometemos a cumplir con todas las normativas legales para garantizar la seguridad y confianza de nuestros clientes.</p>
    <!-- <img src="img_5.jpg" alt="Aspectos Legales"> -->
    <div class="buttons">
      <button class="btn" (click)="cambiarPagina('aspectosLegales', '')">Aspectos Legales</button>
    </div>
  </div>
