<div class="container w-100 h-100">
    <div class="row">
        <div class="col-12 header justify-content-center">

        </div>
    </div>
    <div class="row content">
        <div class="col-12">
            <div class="container w-50 p-3 mt-5">
                <div class="row">
                    <span class="fs-1">
                        <b>
                            Pensamiento administrativo
                        </b>
                        <hr>
                    </span>
                </div>
                <div class="row justify-content-center">
                    <div class="col-10 justify-content-center">
                        <span class="fs-2 mt-3">
                            Administración cientifica
                        </span>
                    </div>
                </div>
                <div class="row justify-content-end">
                    <div class="col-8 p-4">
                        <p class="fs-6 mt-3">
                            La administración cientifica entre la llegada de la maquina a vapor y el uso de la electricidad en la industria (Primera y segunda revolución industrial), cuando Frederick Winslow Taylor dió afirmaciones que darian base a la administracion cientifica.
                            <br>
                            <br>
                            Las contribuciones de Taylor ayudaron a estandarizar la administración cientifica en las industrias, centrandose en la parte obrera.
                        </p>
                    </div>
                    <div class="col-4">
                        <img src="../../assets/img/taylor.png" alt="" class="photo">
                    </div>
                </div>

                <div class="row mb-5">
                    <div class="col-12">
                        <span class="fs-2">
                            Afirmaciones de Taylor
                        </span>
                    </div>
                </div>
                <div class="row m-3">
                    <div class="col-7 afirmaciones p-4 d-flex">
                        <span class="fs-6 m-auto">

                            No existia ningún sistema efectivo.
                        </span>
                    </div>
                </div>
                <div class="row justify-content-end m-3">
                    <div class="col-7 afirmaciones p-4 d-flex">
                        <span class="fs-6 m-auto">

                            No habian incentivos economicos para mejorar el trabajo.
                        </span>
                    </div>
                </div>
                <div class="row m-3">
                    <div class="col-7 afirmaciones p-4 d-flex">
                        <span class="fs-6 m-auto">

                            Decisiones militares/empiricas.
                        </span>
                    </div>
                </div>
                <div class="row justify-content-end m-3">
                    <div class="col-7 afirmaciones p-4 d-flex">
                        <span class="fs-6 m-auto">

                            No habia contratación por habilidades.
                        </span>
                    </div>
                </div>
                <div class="row m-3">
                    <div class="col-7 afirmaciones p-4 d-flex">
                        <span class="fs-6 m-auto">

                            Se debe implementar el metodo científico.
                        </span>
                    </div>
                </div>
                <div class="row justify-content-end m-3">
                    <div class="col-7 afirmaciones p-4 d-flex">
                        <span class="fs-6 m-auto">

                            Se debe hacer obtención de principios de la obervación.
                        </span>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row footer">
        <div class="col-12">
            footer
        </div>
    </div>
</div>