<div class="container superior w-100">
    <div class="row justify-content-center">
        <div class="col-5 pt-4">
            
            <b class="fs-1">
                Nosotros
            </b>
            <br><br>
            <span class="fs-5 mt-4">
                Nuestra empresa tiene como <b class="fs-2">visión</b> convertir a la domótica es una gran forma de mejorar la seguridad, el ahorro de energía, la comodidad y la productividad en el hogar, logrando que el 30% de los hogares en las ciudades principales de Colombia para el 2028, implementen esta tecnología en pro de convertirse, a pensar de los desafíos, en hogares inteligentes, acercando cada vez más esta realidad para todos.
                <br><br>
                Y nuestra <b class="fs-2">misión</b> es mostrar la domótica como una solución que está transformando los hogares en espacios inteligentes que ofrecen comodidad, seguridad y eficiencia, utilizándola como una herramienta que permite desde el control de la iluminación y la climatización hasta la vigilancia avanzada y la gestión energética, mejorando la calidad de vida y brindando tranquilidad en los hogares que la implementen.
            </span>
        </div>
        <div class="col-4">
            <img src="../../assets/img/Pitch meeting-bro.png" alt="" class="w-100">
        </div>
    </div>
</div>

<div class="container mt-4 w-100">
    <div class="row p-5">
        <span class="fs-1">
            <b>
                Valores
            </b>
        </span>
    </div>
    <div class="row justify-content-around cuadrados p-4">
        <div class="col-3 pt-3">
            <span class="fs-3">
                <b>

                    Conciencia ambiental
                </b>
            </span>
            <br>
            <hr>
            <span class="fs-6">
                Este valor envuelve la razón de ser del desarrollo de la domótica, cuidar el planeta y aportar al mejoramiento y mantenimiento de las fuentes naturales.
            </span>
        </div>
        <div class="col-3 pt-3">
            <span class="fs-3">
                <b>

                    Equilibrio
                </b>
            </span>
            <br>
            <hr>
            <span class="fs-6">
                Este valor es necesario para adoptar una posición proactiva que ayude a mantener un balance saludable entre el trabajo y la vida de los trabajadores.
            </span>
        </div>
        <div class="col-3 pt-3">
            <span class="fs-3">
                <b>

                    Compromiso
                </b>
            </span>
            <br>
            <hr>
            <span class="fs-6">
                Es el valor que conectará a los productos, servicios y otras iniciativas que impactan en las vidas dentro y fuera de tu organización, es decir con tus empleados y clientes.
            </span>
        </div>
    </div>
    <div class="row justify-content-around cuadrados p-4">
        <div class="col-3 pt-3">
            <span class="fs-3">
                <b>

                    Innovación
                </b>
            </span>
            <br>
            <hr>
            <span class="fs-6">
                Con este valor la búsqueda de nuevas ideas creativas que tengan el potencial de cambiar el mundo será siempre exitosa.
            </span>
        </div>
        <div class="col-3 pt-3">
            <span class="fs-3">
                <b>

                    Promesa a los clientes
                </b>
            </span>
            <br>
            <hr>
            <span class="fs-6">
                La creación de una excelente experiencia para el cliente comienza con ser fiel a las palabras que decimos y a los vínculos que establecemos. Por eso debes considerar esto como un valor y respetarlo desde que tu empresa comience cualquier intercambio comercial.
            </span>
        </div>
        <div class="col-3 pt-3">
            <span class="fs-3">
                <b>

                    Calidad
                </b>
            </span>
            <br>
            <hr>
            <span class="fs-6">
                Las empresas son juzgadas por las bondades de sus productos y servicios, por lo que deben enarbolar los más altos estándares. Con la calidad como valor para tu empresa lograrás alcanzar cada día mejores estándares para tus productos o servicios.
            </span>
        </div>
    </div>
</div>
<div class="container mt-4">
    <div class="row p-5">
        <span class="fs-1">
            <b>
                Politicas
            </b>
        </span>
    </div>
    <div class="row justify-content-center imgPoliticas">
        <div class="col-5">

            <span class="fs-5">
                
                    La domótica, que ha revolucionado la vida cotidiana al facilitar tareas y mejorar la calidad de vida en los hogares, también tiene un papel importante en el ámbito empresarial. Al implementar la domótica en empresas, se pueden lograr beneficios significativos. 
                
            </span>
        </div>
        <div class="col-2">
            <img src="../../assets/img/Checklist-amico.png" alt="" class="img-2">
        </div>
    </div>
    <div class="row">
        <div class="col-12 pt-5">
            <div class="container politicas">
                <div class="row p-4 justify-content-center">
                    <div class="col-10">
                        <div class="fs-3">

                            <b>1.</b>	Eficiencia Energética y Sostenibilidad:
                            <hr>
                            <div class="fs-5 ps-5">
                                ✓	La domótica permite un control preciso de la iluminación, la climatización y otros dispositivos electrónicos en las empresas. <br>
                            </div>
                            <div class="fs-5 ps-5">
                                ✓	Ajusta automáticamente el consumo de energía según las necesidades del momento. <br>
                            </div>
                            <div class="fs-5 ps-5">
                                ✓	Esto se traduce en un menor consumo de recursos y una reducción de la huella de carbono de la empresa.
                            </div>

                            
                        </div>
                    </div>
                </div>
                <div class="row p-4 justify-content-center">
                    <div class="col-10">
                        <div class="fs-3">

                            <b>2.</b>	Comodidad y Bienestar de los Empleados:
                            <hr>
                            <div class="fs-5 ps-5">
                                ✓	La comodidad y el bienestar de los empleados son cruciales para el éxito de una empresa. <br>
                            </div>
                            <div class="fs-5 ps-5">
                                ✓	Los sistemas de domótica pueden mejorar el ambiente laboral mediante el control automatizado de la iluminación, la temperatura y el ruido. <br>
                            </div>
                            <div class="fs-5 ps-5">
                                ✓	Adaptándose a las preferencias de cada empleado, se crea un entorno más confortable y saludable.
                            </div>

                            
                        </div>
                    </div>
                </div>
                <div class="row p-4 justify-content-center">
                    <div class="col-10">
                        <div class="fs-3">

                            <b>3.</b>	Seguridad y Control de Accesos:
                            <hr>
                            <div class="fs-5 ps-5">
                                ✓	La seguridad es una preocupación importante en todas las empresas. <br>
                            </div>
                            <div class="fs-5 ps-5">
                                ✓	La domótica puede ayudar a mejorar la seguridad mediante el control de accesos, la videovigilancia y la detección de intrusos.<br>
                            </div>
                            <div class="fs-5 ps-5">
                                ✓	Proporciona una mayor protección para los empleados y los activos de la empresa.
                            </div>

                            
                        </div>
                    </div>
                </div>
                <div class="row p-4 justify-content-center">
                    <div class="col-10">
                        <div class="fs-3">

                            <b>4.</b>	Ahorro de Tiempo y Reducción de Costes:
                            <hr>
                            <div class="fs-5 ps-5">
                                ✓	La automatización de procesos permite a las empresas ahorrar tiempo y reducir costes en áreas como la gestión de recursos humanos, la administración y el mantenimiento de instalaciones<br>
                            </div>
                            <div class="fs-5 ps-5">
                                ✓	Al mejorar la eficiencia operativa y la productividad de los empleados, la domótica contribuye a un aumento en la rentabilidad de la empresa.<br>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row p-4 justify-content-center">
                    <div class="col-10">
                        <div class="fs-3">

                            <b>5.</b>	Soluciones de Domótica para Empresas:
                            <hr>
                            <div class="fs-5 ps-5">
                                ✓	<b>Sistemas de Iluminación Inteligente: </b>Permiten un control preciso y adaptable de la luz, ajustando automáticamente la intensidad y el color según las necesidades del momento.
                                <br>
                            </div>
                            <div class="fs-5 ps-5">
                                ✓	<b>Integración y Control Centralizado:</b> La domótica instalada en empresas ofrece la posibilidad de integrar y controlar de forma centralizada todas las soluciones de automatización.
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
<br><br><br><br><br>