<div class="container superior">
    <div class="row justify-content-center">
        <div class="col-3 mt-auto mb-auto">
            <div class="container w-100">
                <div class="row">
                    <div class="col-12">
                        <b class="fs-1">
                            Organización
                        </b>
                    </div>
                    <div class="col-12">
                            <img src="../../assets/img/Coworking-bro.png" alt="" class="w-100 img-1">

                    </div>
                </div>
            </div>
        </div>
        <div class="col-7">
            <img src="../../assets/img/captura.png" alt="" class="w-100">
        </div>
    </div>
</div>
<div class="container objetivos p-4">
    <div class="row">
        <div class="col-3">
            <b class="fs-2">
                Objetivos
            </b>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-5">
            <br>
            <b class="fs-3">
                Estratégicos
            </b>
            <hr>
            <div class="ps-4">
                <b>

                    I. Rentabilidad y Crecimiento Sostenible. 
                </b>
                <br>
                Maximizar la eficiencia operativa , optimizando los costos y generando ganancia.
                <br>
                Aumentar la cuota de mercado y la rentabilidad en los próximos 3 años. 
                <br><br>
                <b>

                    II. Innovación Tecnológica.
                </b>

                <br>
                Desarrollar e implementar constantemente nuevas tecnologías basadas en inteligencia artificial.
                <br>
                Mantenerse actualizado en el mercado de la domótica.
                <br><br>
                <b>

                    III. Expansión del Mercado.
                </b>

                <br>
                Expandir el mercado en las ciudades principales de Colombia.
                <br>
            </div>
            <br>
            <b class="fs-3">
                Operacionales 
            </b>
            <hr>
            <div class="ps-4">
                <b>

                    I. Especialista de Domótica.
                </b>
                <br>
                Instalar y configurar  un sistema de control de calidad para garantizar que los productos cumplan con los estándares establecidos.
                <br>
                Realizar mantenimiento.
                <br><br>
                <b>

                    II. Ejecutivos de Ventas.
                </b>

                <br>
                Seguimiento de clientes potenciales y el cierre de ventas.
                <br>
                Capacitación y apoyo continuo al equipo de ventas para mejorar sus habilidades.
                <br>
                Establecer objetivos de ventas claros y alcanzables.
                <br>
            </div>
        </div>
        <div class="col-7">
            <br>
            <b class="fs-3">
                Tácticos 
            </b>
            <hr>
            <div class="ps-4">
                <b>

                    I. Desarrollo de Productos
                </b>
                <br>
                Realizar pruebas de calidad y rendimiento para dispositivos domóticos.
                <br><br>
                <b>

                    II. Operaciones
                </b>

                <br>
                Establecer acuerdos con los proveedores para así poder garantizar la calidad y el cumplimiento de los plazos de entrega.
                <br>
                Optimizar los tiempos de producción y los costos operativos.
                <br>
                <br>
                <b>

                    III. Marketing y Ventas
                </b>
                <br>
                Desarrollar estrategias de marketing digital para aumentar las ventas.
                <br>
                Capacitar al equipo de ventas.
                <br>
                Adaptar campañas de marketing  destacando los beneficios de la domótica.
                <br><br>
                <b>

                    Recursos Humanos
                </b>

                <br>
                Impulsar un ambiente de trabajo colaborativo y creativo que apoye la innovación y la excelencia.
                <br>
                Formación y desarrollo profesional para mejora en habilidades de nuevas tecnologías.
                <br>
                <br>
                <b>V. Administración y finanzas</b>
                <br>
                Optimizar los procesos de facturación y cobranza.
                <br><br>
                <b>VI. Investigación de Mercado</b>
                <br>
                Realizar estudios de mercado para establecer nuevas oportunidades de negocio y segmentos de clientes.
                <br>Ver la posibilidad de expandir la empresa en mercados internacionales. <br><br>
                <b>VII. Servicio al Cliente y Soporte Técnico</b>
                <br>
                Crear un sistema de atención al cliente eficiente.
                <br>Implementar un sistema de incidencias para resolver problemas y mejorar continuamente la calidad del servicio.
<br><br>
            </div>
        </div>
        <div class="col-auto">
            
        </div>
    </div>
</div>