<div class="container superior">
    <div class="row justify-content-center">
        <div class="col-3 mt-auto mb-auto">
            <div class="container w-100">
                <div class="row">
                    <div class="col-12">
                        <b class="fs-1">
                            Organización
                        </b>
                    </div>
                    <div class="col-12">
                            <img src="../../assets/img/Coworking-bro.png" alt="" class="w-100 img-1">

                    </div>
                </div>
            </div>
        </div>
        <div class="col-7">
            <img src="../../assets/img/captura.png" alt="" class="w-100">
        </div>
    </div>
</div>
<div class="container objetivos p-4">
    <div class="row">
        <div class="col-3">
            <b class="fs-2">
                Objetivos
            </b>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-auto">
            <br>
            <b class="fs-3">
                Estratégicos
            </b>
            <hr>
            <div class="ps-4">
                <b>

                    Crecimiento Sostenible: 
                </b>
                <br>
                Aumentar la cuota de mercado en Bogotá en un 20% en los próximos dos años. 
                <br>
                Expandirnos a otras ciudades principales de Colombia. 
                <br><br>
                <b>

                    Innovación Tecnológica: 
                </b>

                <br>
                Desarrollar soluciones de domótica basadas en inteligencia artificial. 
                <br>
                Investigar nuevas tendencias en automatización residencial. 
                <br>
            </div>
            <br>
            <b class="fs-3">
                Operacionales 
            </b>
            <hr>
            <div class="ps-4">
                <b>

                    Técnicos de Domótica: 
                </b>
                <br>
                Instalar y configurar sistemas de automatización en viviendas. 
                <br>
                Realizar mantenimiento preventivo y correctivo. 
                <br><br>
                <b>

                    Ejecutivos de Ventas: 
                </b>

                <br>
                Prospectar clientes potenciales. 
                <br>
                Presentar soluciones de domótica y cerrar ventas. 
                <br>
            </div>
        </div>
        <div class="col-auto">
            <br>
            <b class="fs-3">
                Tácticos 
            </b>
            <hr>
            <div class="ps-4">
                <b>

                    Operaciones: 
                </b>
                <br>
                Reducir el tiempo de instalación de sistemas en un 15%. 
                <br>
                Mejorar la eficiencia en la atención posventa. 
                <br><br>
                <b>

                    Comercial y Marketing: 
                </b>

                <br>
                Incrementar las ventas en un 25% mediante estrategias digitales. 
                <br>
                Fortalecer la imagen de marca en el mercado local. 
                <br>
                <br>
                <b>

                    Recursos Humanos: 
                </b>
                <br>
                Capacitar al equipo técnico en nuevas tecnologías. 
                <br>
                Fomentar un ambiente de trabajo colaborativo. 
                <br><br>
                <b>

                    Finanzas y Administración: 
                </b>

                <br>
                Optimizar los procesos de facturación y cobranza. 
                <br>
                Controlar los costos operativos. 
                <br>
            </div>
        </div>
        <div class="col-auto">
            
        </div>
    </div>
</div>