<div class="container superior">
    <div class="row  justify-content-center">
        <div class="col-10">
            <b class="fs-1">
                Diagnostico
            </b>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-9">
            <b class="fs-3">
                Diagnóstico Interno 
            </b>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-3 pt-4">
                <b class="fs-4">
                    1.	Descripción de servicios:
                </b>
                <br>
                <span>

                    Ofrecemos soluciones de automatización residencial, incluyendo sistemas de control de iluminación, climatización, entretenimiento y seguridad. <br>
                    La empresa cuenta con el servicio de venta, instalación y programación de automatización personaliza acorde a las necesidades del cliente, enfocándose en la comodidad y eficiencia.
                </span>
                <br>
                <b class="fs-4">

                    2.	Tiempo de Operación.
                </b>
                <br>
                <span>

                    Contamos con 10 años de experiencia en domotización de apartamentos y casas residenciales en Bogotá. <br>
                    Hemos contado con un crecimiento constante adaptándonos a las tecnologías de vanguardia. Ofreciendo un catálogo de servicios diverso y completo con los últimos productos del mercado.  
                </span>
                <br>
                
               

        </div>
        <div class="col-3 pt-4">
            <b class="fs-4">

                3.	Mercado Geográfico
            </b>
            <br>
            <span>

                Nuestra oficina principal se encuentra ubicada en la ciudad de Bogotá, desde donde vendemos de forma presencial y virtual nuestros productos a nivel nacional, y ofrecemos servicio de asesoría, instalación y configuración personalizada en la ciudad de Bogotá y sus alrededores
            </span>
            <br>
            <b class="fs-4">

                4.	Personal de la Empresa
            </b>
            <br>
            <span>

                Contamos con 30 empleados entre administrativos, vendedores y personal técnico especializado en tecnologías de automatización y domótica.
            </span>
            <br>
            <b class="fs-4">

                5.	Convenios
            </b>
            <br>
            <span>

                Contamos con alianzas estratégicas con los principales fabricantes de dispositivos inteligentes para ofrecer soluciones integradas, somos importadores directos lo cual garantiza el mejor precio.
            </span>
            <br><br><br>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-3">
            <b class="fs-3">
                Diagnóstico externo
            </b>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-5">
                
                <br>
                <b class="fs-4">
                    •	Factores Políticos.
                </b>
                <br>
                <span>

                    o	En la ciudad de Bogotá se cuenta con plan de Ordenamiento Territorial (POT), la cual establece las regulaciones territoriales y afecta la ubicación y desarrollo de las sucursales físicas que se deseen implementar.
                    <br>
                    <br>
                    o	Valorización en Bogotá, que es un mecanismo mediante el cual los propietarios de inmuebles contribuyen económicamente a financiar obras públicas que benefician a la comunidad local. Afecta a las empresas por el pago de inmuebles e implementación de nuevas sucursales.

                </span>
                <br>
                <b class="fs-4">

                    •	Factores Económicos.
                </b>
                <br>
                <span>
                    o	El crecimiento económico de la ciudad puede afectar las operaciones empresariales y las decisiones de inversión.
                    <br>
                    <br>
                    o	Tasas de interés. La variación de las tasas de interés establecido por el Banco de la República y acatada por los bancos influyen en la rentabilidad y costos de financiamiento.
                    <br>
                    <br>
                    o	Tasas de cambio. La relación de tasa de cambio entre pesos colombianos y otras monedas internacionales, principalmente el dólar estadounidense, influyen en costos de importación y variación de precios para el consumidor final.
                    <br>
                    <br>
                    o	Economía de los usuarios. La capacidad económica de los ciudadanos determinar la viabilidad de inversión en tecnologías de automatización y la disposición a pagar por comodidad y eficiencia.
                    
                </span>
                <br>
                <b class="fs-4">

                    •	Factores Sociales
                </b>
                <br>
                <span>
                    o	La cultura y las costumbres de la ciudad pueden influenciar en la adopción de tecnologías inteligentes en los hogares, hay que considerar la opinión de las personas respecto a la automatización en el hogar.
                </span>
                <br>
                <br>
                o	La demanda de productos tecnológicos en la ciudad para hogares puede variar dependiendo de la percepción general a nuevas tecnologías e interés en el cambio. La automatización puede mejorar la calidad de vida al proporcionar comodidad, seguridad y eficiencia energética.
                <br>
                <br>
                o	Hay que considerar si las soluciones de automatización son accesibles para diferentes grupos sociales.
                <br>
                <b class="fs-4">

                    •	Factores Tecnológicos
                </b>
                <br>
                o	Comunicaciones En el país el acceso a internet es considerado un servicio Público esencial, por lo cual la disponibilidad de internet de alta velocidad y la cobertura de datos móviles son fundamentales para la implementación de dispositivos inteligente de domótica.
                <br><br>
                o	Tecnologías de seguridad implementadas por el fabricante, validar que los dispositivos cumplan con normativas nacionales e internacionales para su uso y comercialización.
                <br><br>
                o	Internet de las cosas (IoT) Disponibilidad de dispositivos electrónicos y gadgets compatibles con sistemas centrales de domotización.
    
                <br>
                <br>
                <br>
        </div>
        <div class="col-5">
            <br>
            
            <b class="fs-4">

                •	Factores Ambientales
            </b>
            <br>
            Conciencia o educación al Cliente: Promover la conciencia sobre el uso responsable de la Energía, promover mejora con uso de sensores y automatización.
            <br>
            Normativas Locales respecto a gestión de residuos electrónicos y eficiencia energética, ley 1672 de 2013
            <br>
            1.	Regulaciones de recolección de dispositivos electrónicos 
            <br><br>
            o   Computadores y periféricos (Resolución 1512 de 2010). <br>
            o	Lámparas/bombillas ahorradoras (Resolución 1511 de 2010). <br>
            o	Decreto 284 del 15 de febrero de 2018: <br>
            o	Guía para el Manejo de Residuos Electrónicos <br>
            <b class="fs-4">

                •	Factores Legales.
            </b>
            <br><br>
            o	Constitución de la Empresa: Cumplir con los requisitos legales para la creación y registro de la empresa en Bogotá y Colombia. Esto incluye la elección de la forma jurídica (SAS, SRL, etc.) y la inscripción en la Cámara de Comercio.
            <br><br>
            o	Contratos Laborales: Cumplir con las leyes laborales al contratar empleados. Esto incluye aspectos como salarios, jornadas laborales, prestaciones y seguridad social.
            <br><br>
            o	Regulaciones Fiscales: Cumplir con las obligaciones tributarias, como el pago de impuestos y la presentación de declaraciones ante la DIAN (Dirección de Impuestos y Aduanas Nacionales).
            <br><br>
            o	Propiedad Intelectual: Proteger los derechos de propiedad intelectual sobre productos, marcas o patentes.
            <br>
            <b class="fs-4">

                •	Protección al Consumidor
            </b>
            <br>
            o	Garantías y Devoluciones: Cumplir con las leyes que protegen los derechos de los consumidores. Esto incluye garantías, devoluciones y atención al cliente.
            <br><br>
            o	Publicidad y Comunicación: Cumplir con las regulaciones sobre publicidad veraz y transparente.
            <br>
            <b class="fs-4">
                •	Competencia y Antimonopolio
            </b>
            <br>
            o	Leyes Antimonopolio: Evaluar si las alianzas estratégicas y acuerdos comerciales cumplen con las leyes de competencia. Evitar prácticas anticompetitivas.
            <br>
            <b class="fs-4">
                •	Normativas de Importación y Exportación: Importación de Productos
            </b>
            <br>
            o	Cumplir con las regulaciones aduaneras al importar dispositivos y componentes para la automatización.
        </div>
    </div>
</div>
<div class="container w-100">
    <div class="row">
        <div class="col-3">
            <b class="fs-2">
                Análisis FODA
            </b>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-9">
            <br>
            <br>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td></td>
                        <td class="fortalezas">
                            <b>Fortalezas</b><br>
                            <ul>
                                <li><b>F1.</b> Liderazgo y audacia.</li>
                                <li><b>F2.</b> Visión y orden.</li>
                                <li><b>F3.</b> Conciencia ambiental.</li>
                                <li><b>F4.</b> Inteligencia colectiva.</li>
                            </ul>
                        </td>
                        <td class="debilidades">
                            <b>Debilidades</b><br>
                            <ul>
                                <li><b>D1.</b> Desorden.</li>
                                <li><b>D2.</b> Tamaño del equipo.</li>
                                <li><b>D3.</b> Diversificación de habilidades.</li>
                                <li><b>D4.</b> Dependencia de pocas personas.</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row" class="oportunidades">
                            <b>Oportunidades</b><br>
                            <ul>
                                <li><b>O1.</b> Creciente demanda de soluciones de domótica.</li>
                                <li><b>O2.</b> Tecnologías emergentes.</li>
                                <li><b>O3.</b> Colaboraciones y alianzas.</li>
                                <li><b>O4.</b> Interés en la sostenibilidad.</li>
                            </ul>
                        </td>
                        <td class="fo">
                            Estrategias FO:
                            <ul>
                                <li><b>F1 - O1:</b> Aprovechar el liderazgo y audacia para desarrollar soluciones innovadoras en domótica.</li>
                                <li><b>F2 - O2:</b> Utilizar la visión y orden para implementar nuevas tecnologías emergentes eficientemente.</li>
                                <li><b>F3 - O4:</b> Enfatizar la conciencia ambiental para atraer a consumidores interesados en sostenibilidad.</li>
                                <li><b>F4 - O3:</b> Usar la inteligencia colectiva para formar alianzas estratégicas que fortalezcan la oferta.</li>
                            </ul>
                        </td>
                        <td class="do">
                            Estrategias DO:
                            <ul>
                                <li><b>D1 - O2:</b> Implementar herramientas de gestión para organizar el trabajo y aprovechar tecnologías emergentes.</li>
                                <li><b>D2 - O3:</b> Buscar colaboraciones que amplíen el equipo y compartan recursos.</li>
                                <li><b>D3 - O1:</b> Realizar programas de formación para diversificar habilidades en áreas clave de domótica.</li>
                                <li><b>D4 - O4:</b> Reducir la dependencia de pocas personas mediante la formación de un equipo más amplio y sostenible.</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row" class="amenazas">
                            <b>Amenazas</b><br>
                            <ul>
                                <li><b>A1.</b> Competencia intensa.</li>
                                <li><b>A2.</b> Rapidez de la innovación tecnológica.</li>
                                <li><b>A3.</b> Regulaciones y estándares.</li>
                                <li><b>A4.</b> Dependencia de proveedores.</li>
                            </ul>
                        </td>
                        <td class="fa">
                            Estrategias FA:
                            <ul>
                                <li><b>F1 - A1:</b> Usar el liderazgo y audacia para mantenerse a la vanguardia frente a la competencia.</li>
                                <li><b>F2 - A3:</b> Aplicar la visión y orden para asegurar que los productos cumplan con las regulaciones.</li>
                                <li><b>F3 - A4:</b> Desarrollar relaciones sólidas con proveedores basándose en la conciencia ambiental.</li>
                                <li><b>F4 - A2:</b> Utilizar la inteligencia colectiva para adaptarse rápidamente a la innovación tecnológica.</li>
                            </ul>
                        </td>
                        <td class="da">
                            Estrategias DA:
                            <ul>
                                <li><b>D1 - A2:</b> Establecer un programa de monitoreo y adaptación tecnológica para minimizar el desorden.</li>
                                <li><b>D2 - A1:</b> Ampliar el equipo para manejar mejor la competencia intensa.</li>
                                <li><b>D3 - A3:</b> Formar al equipo en regulaciones y estándares para diversificar sus habilidades.</li>
                                <li><b>D4 - A4:</b> Crear redundancias y diversificar proveedores para reducir la dependencia de pocas personas.</li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>
        </div>
    </div>
</div>